h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}
.centered-menu {
    display: block;
    text-align: center;
    background-color: white;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 1vh;
}
.menu-item-desc {
    color: #6b7280;
    font-size: 1rem;
    margin: 0.3rem 0 1rem 0;
}