@import url('https://fonts.googleapis.com/css?family=Istok+Web');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-image: url(../Images/Flight/SpaceBackground.jpg);
    background-size: cover;
    flex: 1;
    position: relative;
}

#Earth {
    background-image: url(../Images/Flight/Earth.png);
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#Mars {
    background-image: url(../Images/Flight/Mars.png);
    background-size: cover;
    position: absolute;
    width: 25vh;
    height: 25vh;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}


#Earth-Info {
    background-image: url(../Images/Flight/EarthInfo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 40vh;
    height: 40vh;
    right: -7%;
    top: -15%;
}

#Mars-Info {
    background-image: url(../Images/Flight/MarsInfo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 40vh;
    height: 40vh;

}

#Rocket {
    background-image: url(../Images/Flight/Rocket.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 15vh;
    height: 15vh;
    rotate: -30deg;
    top: 25%;
    left: 40%;
}

#Flight-Info {
    font-family: 'Istok Web', sans-serif;
    color: white;
    position: absolute;
    bottom: 1%;
    left: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid white
}